        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333333;
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
            font-size: 24px;
        }

        footer {
            background-color: #333333;
            color: #ffffff;
            padding: 10px;
            text-align: center;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            background-image: url('Deep-learning-and-computer-vision-1.jpg');
            background-size: cover;
            background-position: center;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #555555;
            font-weight: bold;
        }

        input[type="file"] {
            display: block;
            margin-bottom: 20px;
            padding: 5px;
            border: 1px solid #dddddd;
            border-radius: 4px;
            background-color: #ffffff;
        }

        input[type="submit"] {
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
